* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    height: 100%;
    overflow-x: hidden;
}

body{
    height: 100%;
    overflow: hidden;
}

p{
    margin: 0px !important;
}
