:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

mat-drawer{
    width: 300px;
}

mat-drawer-container{
    height: 100%;
}

mat-drawer-content{
    padding: 20px;
}

.appContainer{
    display: contents;
}