<mat-nav-list *ngIf="auth">
    <div class="profile-card">
        <div class="header">
            <h2>{{auth.nombre+ ' ' + auth.apellido}}</h2>
            <h4>{{ auth.email }}</h4>
        </div>
        <!-- <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"/> -->
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Menu</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/jugadores">Jugadores</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/estadisticas">Estadísticas</a>

</mat-nav-list>
